
*/node_modules
.env
/xrp-loc-project/build
/xrp-loc-project/node_modules
.vscode
*.jar
*.class
/PoCs/Axelar_GMP_POC/artifacts
/PoCs/Axelar_GMP_POC/ignition/deployments
/PoCs/Axelar_GMP_POC/ignition/deployments
/PoCs/Axelar_GMP_POC/artifacts
/PoCs/Axelar_GMP_POC/artifacts
/backend/target/maven-status/maven-compiler-plugin/compile
/node_modules
.DS_Store
/.vscode
/backend/target
/backend/target
/backend/target
