# src/main/resources/application.properties

# Database Connection
spring.datasource.url=jdbc:postgresql://localhost:5432/truxtXchange_db
spring.datasource.username=softmark
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA Properties
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

# Flyway Configuration
flyway.enabled=true
flyway.locations=classpath:db/migration


# Server Port (optional)
server.port=8080
application.privateKey=your_private_key_without_quotes